@font-face {
    font-family: PopLight;
    src: url('../fonts//Poppins-Light.ttf');
}
@font-face {
    font-family: PopExtraLight;
    src: url('../fonts/Poppins-ExtraLight.ttf');
}
@font-face {
    font-family: PopRegular;
    src: url('../fonts//Poppins-Regular.ttf');
}

$whiteBackground: #ffffff;