@import "../../sass//global.scss";
@import "../../sass//responsive.scss";

.navigation {
    background-color: #ffffff;
    height: 40px;
    color: #323131;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 25px rgba(35, 35, 35, 0.15);
    font-size: 15px;

    .logo {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin-left: 5%;

        h2 {
            font-family: PopLight;
            padding: 0;
            margin: 0;
        }

        .seperator {
            margin: 0 10px 0 10px;
            width: 1px;
            height: 15px;
            background-color: #323131;
        }

        p {
            font-family: PopExtraLight;
        }
    }
}
